<div class="row">
  <div class="col-sm-12">
    <h1>Berekenen</h1>
  </div>
</div>


<form class="form-horizontal">
  <div class="form-group" style="margin-left: 0px">
    <div class="col-sm-3">
      <div class="form-group row">
        <label class="sr-only" for="month">maand</label>
        <input type="number" class="form-control" id="month" name="month" [(ngModel)]="month" placeholder="maand">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group row">
        <label class="sr-only" for="year">jaar</label>
        <input type="number" class="form-control" id="year" name="year" [(ngModel)]="year" placeholder="jaar">
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3">Recht op basisbedrag</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="isBasicAllowanceGranted" name="isBasicAllowanceGranted" [(ngModel)]="isBasicAllowanceGranted" />
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3">Recht op pleegzorg</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="isFosterCareAllowanceGranted" name="isFosterCareAllowanceGranted" [(ngModel)]="isFosterCareAllowanceGranted" />
      </div>
    </div>
  </div>
</form>

<div class="row">
  <div class="col-sm-12">
    <button (click)="calculate()" id="calculateButton" class="btn btn-primary">Bereken</button>
  </div>
</div>


<div *ngIf="calculation" class="row" style="padding-top: 50px">
  <div class="col-sm-12">
    <table *ngIf="calculation?.allowances" class="panel-body table table-condensed table-hover">
      <tr>
        <td><b>maand</b></td>
        <td><b>jaar</b></td>
        <td><b>type</b></td>
        <td><b>bedrag</b></td>
        <td><b>datum berekening</b></td>
      </tr>
      <tr *ngFor="let allowance of calculation?.allowances; let j = index">
        <td>{{calculation.month}}</td>
        <td>{{calculation.year}}</td>
        <td>{{allowance.type}}</td>
        <td>&euro; <span id="allowance_{{allowance.type}}_value">{{allowance.value}}</span></td>
        <td>{{calculation.timestamp}}</td>
      </tr>
    </table>
  </div>
</div>
