<div class="row">
  <div class="col-sm-12">
    <h1>Berekenen</h1>
  </div>
</div>

<form class="form-horizontal">
  <div class="form-group" style="margin-left: 0px;">
    <div class="col-sm-3">
      <div class="form-group row">
        <label class="sr-only" for="month">maand</label>
        <input type="number" class="form-control" id="month" name="month" [(ngModel)]="month" placeholder="maand">
      </div>
    </div>
    <div class="col-sm-3">
      <div class="form-group row">
        <label class="sr-only" for="year">jaar</label>
        <input type="number" class="form-control" id="year" name="year" [(ngModel)]="year" placeholder="jaar">
      </div>
    </div>
  </div>



  <div class="form-group">
    <label class="col-sm-3">Regime</label>
    <div class="col-sm-3">
      <div class="form-group row" style="margin-left: 0px;">
        <select [(ngModel)]="regimeSelected" class="form-control" id="regimeSelected" name="regimeSelected">
          <option></option>
          <option value='Nieuw'>Nieuw</option>
          <option value='Oud'>Oud</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3">Recht op basis bedrag</label>
    <div class="col-sm-3">
      <div class="form-group row" style="margin-left: 0px;">
        <select ngSwitch="{{regimeSelected}}" [(ngModel)]="isBasicAllowanceGranted" class="form-control" id="isBasicAllowanceGranted" name="isBasicAllowanceGranted">
          <option *ngSwitchCase="'Nieuw'"></option>
          <option *ngSwitchCase="'Nieuw'" value='cat1'>basisbedrag</option>
          <option *ngSwitchCase="'Oud'"> </option>
          <option *ngSwitchCase="'Oud'" value='cat2'>kinderbijslag 3e jongste kind of ouder</option>
          <option *ngSwitchCase="'Oud'" value='cat3'>kinderbijslag 2e jongste kind</option>
          <option *ngSwitchCase="'Oud'" value='cat4'>kinderbijslag jongste kind</option>
          <option *ngSwitchCase="'Oud'" value='cat5'>verhoogde wezenbijslag (50bis)</option>
        </select>
      </div>
    </div>
  </div>


  <div class="form-group">
    <label class="col-sm-3">Recht op pleegzorg</label>
    <div class="col-sm-9">
      <div class="form-check">
        <input type="checkbox" class="form-check-input" id="isFosterCareAllowanceGranted" name="isFosterCareAllowanceGranted" [(ngModel)]="isFosterCareAllowanceGranted" />
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3">Recht op wezentoeslag</label>
    <div class="col-sm-3">
      <div class="form-group row" style="margin-left: 0px;">
        <select [(ngModel)]="isOrphanCareAllowanceGranted" class="form-control" id="isOrphanCareAllowanceGranted" name="isOrphanCareAllowanceGranted">
          <option></option>
          <option value='cat1'>wezentoeslag 50%</option>
          <option value='cat2'>wezentoeslag 100%</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3">Recht op sociaaltoeslag Gezin 1</label>
    <div class="form-group row" style="margin-left: 0px;">
      <div class="col-sm-3">
          <select ngSwitch="{{regimeSelected}}" [(ngModel)]="isSocialAllowanceGrantedFamilyOne" class="form-control"
                  id="isSocialAllowanceGrantedFamilyOne" name="isSocialAllowanceGrantedFamilyOne">
            <option *ngSwitchCase="'Nieuw'"> </option>
            <option *ngSwitchCase="'Nieuw'" value='cat1'>sociale toeslag, laag inkomen, max 2 kids</option>
            <option *ngSwitchCase="'Nieuw'" value='cat2'>sociale toeslag, laag inkomen, meer dan 2 kids</option>
            <option *ngSwitchCase="'Nieuw'" value='cat3'>sociale toeslag, gemiddeld inkomen, meer dan 2 kids</option>
            <option *ngSwitchCase="'Oud'"> </option>
            <option *ngSwitchCase="'Oud'" value='cat4'>sociale toeslag wl/pensioen jongste kind</option>
            <option *ngSwitchCase="'Oud'" value='cat5'>sociale toeslag wl/pensioen 2e jongste kind</option>
            <option *ngSwitchCase="'Oud'" value='cat6'>sociale toeslag wl/pensioen 3e jongste kind of ouder (ander gezin)</option>
            <option *ngSwitchCase="'Oud'" value='cat7'>sociale toeslag wl/pensioen 3e jongste kind of ouder (éénoudergezin)</option>
            <option *ngSwitchCase="'Oud'" value='cat8'>sociale toeslag invalide jongste kind</option>
            <option *ngSwitchCase="'Oud'" value='cat9'>sociale toeslag invalide 2e jongste kind</option>
            <option *ngSwitchCase="'Oud'" value='cat10'>sociale toeslag invalide 3e jongste kind of ouder (ander gezin)</option>
            <option *ngSwitchCase="'Oud'" value='cat11'>sociale toeslag invalide 3e jongste kind of ouder (éénoudergezin)</option>
            <option *ngSwitchCase="'Oud'" value='cat12'>éénoudertoeslag jongste kind</option>
            <option *ngSwitchCase="'Oud'" value='cat13'>éénoudertoeslag 2e jongste kind</option>
            <option *ngSwitchCase="'Oud'" value='cat14'>éénoudertoeslag 3e jongste kind of ouder</option>

          </select>
          <label class="sr-only" for="housingShareFamilyOne">% huisvesting</label>
          <input type="number" class="form-control" id="housingShareFamilyOne" name="housingShareFamilyOne"
                 [(ngModel)]="housingShareFamilyOne" placeholder="% huisvesting">
        <label class="sr-only" for="beneficiaryFamilyOne">begunstigde</label>
        <input type="string" class="form-control" id="beneficiaryFamilyOne" name="beneficiaryFamilyOne"
               [(ngModel)]="beneficiaryFamilyOne" placeholder="begunstigde">
      </div>
    </div>
  </div>


  <div class="form-group">
    <label class="col-sm-3">Recht op sociaaltoeslag Gezin 2</label>
    <div class="form-group row"style="margin-left: 0px;">
      <div class="col-sm-3">
        <select ngSwitch="{{regimeSelected}}" [(ngModel)]="isSocialAllowanceGrantedFamilyTwo" class="form-control"
                id="isSocialAllowanceGrantedFamilyTwo" name="isSocialAllowanceGrantedFamilyTwo">
          <option *ngSwitchCase="'Nieuw'"> </option>
          <option *ngSwitchCase="'Nieuw'" value='cat1'>sociale toeslag, laag inkomen, max 2 kids</option>
          <option *ngSwitchCase="'Nieuw'" value='cat2'>sociale toeslag, laag inkomen, meer dan 2 kids</option>
          <option *ngSwitchCase="'Nieuw'" value='cat3'>sociale toeslag, gemiddeld inkomen, meer dan 2 kids</option>
          <option *ngSwitchCase="'Oud'"> </option>
          <option *ngSwitchCase="'Oud'" value='cat4'>sociale toeslag wl/pensioen jongste kind</option>
          <option *ngSwitchCase="'Oud'" value='cat5'>sociale toeslag wl/pensioen 2e jongste kind</option>
          <option *ngSwitchCase="'Oud'" value='cat6'>sociale toeslag wl/pensioen 3e jongste kind of ouder (ander gezin)</option>
          <option *ngSwitchCase="'Oud'" value='cat7'>sociale toeslag wl/pensioen 3e jongste kind of ouder (éénoudergezin)</option>
          <option *ngSwitchCase="'Oud'" value='cat8'>sociale toeslag invalide jongste kind</option>
          <option *ngSwitchCase="'Oud'" value='cat9'>sociale toeslag invalide 2e jongste kind</option>
          <option *ngSwitchCase="'Oud'" value='cat10'>sociale toeslag invalide 3e jongste kind of ouder (ander gezin)</option>
          <option *ngSwitchCase="'Oud'" value='cat11'>sociale toeslag invalide 3e jongste kind of ouder (éénoudergezin)</option>
          <option *ngSwitchCase="'Oud'" value='cat12'>éénoudertoeslag jongste kind</option>
          <option *ngSwitchCase="'Oud'" value='cat13'>éénoudertoeslag 2e jongste kind</option>
          <option *ngSwitchCase="'Oud'" value='cat14'>éénoudertoeslag 3e jongste kind of ouder</option>
        </select>
        <label class="sr-only" for="housingShareFamilyTwo">% huisvesting</label>
        <input type="number" class="form-control" id="housingShareFamilyTwo" name="housingShareFamilyTwo"
               [(ngModel)]="housingShareFamilyTwo" placeholder="% huisvesting">
        <label class="sr-only" for="beneficiaryFamilyTwo">begunstigde</label>
        <input type="string" class="form-control" id="beneficiaryFamilyTwo" name="beneficiaryFamilyTwo"
               [(ngModel)]="beneficiaryFamilyTwo" placeholder="begunstigde">
      </div>
    </div>
  </div>

  <div class="form-group" >
    <label class="col-sm-3">Recht op universele participatie toeslag</label>
    <div class="col-sm-3">
      <div class="form-group row" style="margin-left: 0px;">
        <select [(ngModel)]="isUniversalParticipationGranted" class="form-control" id="isUniversalParticipationGranted" name="isUniversalParticipationGranted">
          <option></option>
          <option value='cat1'>universele participatie 0_2</option>
          <option value='cat2'>universele participatie 5_11</option>
          <option value='cat3'>universele participatie 12_17</option>
          <option value='cat4'>universele participatie 18_24</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-3">Recht op kinderopvangtoeslag</label>
    <div class="col-sm-3">
        <div class="input-group">
          <span class="input-group-addon">
            <input type="checkbox" aria-label="Checkbox for dayCareDays input field" class="form-check-input" id="isDayCareAllowanceGranted" name="isDayCareAllowanceGranted" [(ngModel)]="isDayCareAllowanceGranted"/>
          </span>
          <input type="number" class="form-control" id="dayCareDays" name="dayCareDays" [(ngModel)]="dayCareDays" aria-label="Number field for with checkbox" placeholder="dagen aanwezig">
      </div>
    </div>
  </div>

  <div class="form-group" >
    <label class="col-sm-3">Recht op kleutertoeslag</label>
    <div class="col-sm-3">
      <div class="form-group row" style="margin-left: 0px;">
        <select [(ngModel)]="isKleuterToeslagGranted" class="form-control" id="isKleuterToeslagGranted" name="isKleuterToeslagGranted">
          <option></option>
          <option value='cat1'>kleutertoeslag 3 jaar</option>
          <option value='cat2'>kleutertoeslag 4 jaar</option>
        </select>
      </div>
    </div>
  </div>

  <div class="form-group" >
    <label class="col-sm-3">Recht op zorgtoeslag met specifieke ondersteuningsbehoefte</label>
    <div class="col-sm-3">
      <div class="form-group row" style="margin-left: 0px;">
        <select [(ngModel)]="isZorgToeslagGranted" class="form-control" id="isZorgToeslagGranted" name="isZorgToeslagGranted">
          <option></option>
          <option value='cat1'>zorgtoeslag spec. ond. T<6 en 1ep>=4</option>
          <option value='cat2'>zorgtoeslag spec. ond. 6<=T<=8 en 1ep<4</option>
          <option value='cat3'>zorgtoeslag spec. ond. 6<=T<=8 en 1ep>=4</option>
          <option value='cat4'>zorgtoeslag spec. ond. 9<=T<=11 en 1ep<4</option>
          <option value='cat5'>zorgtoeslag spec. ond. 9<=T<=11 en 1ep>=4</option>
          <option value='cat6'>zorgtoeslag spec. ond. 12<=T<=14</option>
          <option value='cat7'>zorgtoeslag spec. ond. 15<=T<=17</option>
          <option value='cat8'>zorgtoeslag spec. ond. 18<=T<=20</option>
          <option value='cat9'>zorgtoeslag spec. ond. T>20</option>
          <option value='cat10'>zorgtoeslag spec. ond. zelfred. 0_3</option>
          <option value='cat11'>zorgtoeslag spec. ond. zelfred. 4_6</option>
          <option value='cat12'>zorgtoeslag spec. ond. zelfred. 7_9</option>
        </select>
      </div>
    </div>
  </div>

  <div *ngIf="regimeSelected ==='Oud'" class="form-group">
    <label class="col-sm-3">Recht op leeftijdsbijslag</label>
    <div class="col-sm-3">
      <div class="form-group row" style="margin-left: 0px;">
        <select [(ngModel)]="isLeeftijdsToeslagGranted" class="form-control" id="isLeeftijdsToeslagGranted" name="isLeeftijdsToeslagGranted">
          <option></option>
          <option value='cat1'>leeftijdsbijslag ander kind 6_11</option>
          <option value='cat2'>leeftijdsbijslag ander kind 12_17</option>
          <option value='cat3'>leeftijdsbijslag ander kind 18_24</option>
          <option value='cat4'>leeftijdsbijslag 1e kind 6_11</option>
          <option value='cat5'>leeftijdsbijslag 1e kind 12_17</option>
          <option value='cat6'>leeftijdsbijslag 1e kind 18_24</option>
          <option value='cat7'>leeftijdsbijslag 1e kind > 25j</option>
          <option value='cat8'>leeftijdsbijslag ander kind > 25j</option>
        </select>
      </div>
    </div>
  </div>

</form>

<div class="row">
  <div class="col-sm-12">
    <button (click)="calculate()" id="calculateButton" class="btn btn-primary">Bereken</button>
  </div>
</div>


<div *ngIf="calculation" class="row" style="padding-top: 50px">
  <div class="col-sm-12">
    <table *ngIf="calculation?.allowances" id="resultsTable" class="panel-body table table-condensed table-hover">
      <tr>
        <td><b>maand</b></td>
        <td><b>jaar</b></td>
        <td><b>type</b></td>
        <td><b>Regime</b></td>
        <td><b>bedrag</b></td>
        <td><b>datum berekening</b></td>
        <td><b>begunstigde</b></td>
        <td><b>categorie</b></td>
      </tr>
      <tr *ngFor="let allowance of calculation?.allowances; let j = index">
        <td>{{calculation.month}}</td>
        <td>{{calculation.year}}</td>
        <td>{{allowance.type}}</td>
        <td>{{regimeSelected}}</td>
        <td>&euro; <span id="allowance_{{allowance.type}}_value">{{allowance.value}}</span></td>
        <td>{{calculation.timestamp}}</td>
        <td *ngIf="allowance.beneficiary">{{allowance.beneficiary}}</td>
        <td *ngIf="!allowance.beneficiary"></td>
        <td *ngIf="allowance.category">{{allowance.category.description}}</td>
        <td *ngIf="!allowance.category"></td>
      </tr>
      <tr>
        <td></td>
        <td></td>
        <td>TOTAAL</td>
        <td></td>
        <td id="total">&euro; {{calculation.total}}</td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
    </table>
  </div>
</div>
