<p>
  child-allowances!
</p>

<form>
<input type="number" id="year" name="year" [(ngModel)]="year"/>
<input type="number" id="month" name="month" [(ngModel)]="month"/>
</form>

<button (click)="calculate()" id="calculateButton">Calculate</button>

<div *ngFor="let childAllowance of childAllowances?.calculations; let i = index">
    <ul>
      <li> INSZ: <span id="inss{{i}}">{{childAllowance.inss}}</span>, Bedrag: &euro;<span id="total{{i}}">{{childAllowance.total}}</span></li>
    </ul>
</div>


